<mat-card class="cart">
    <div *ngIf="items; else cartEmpty">
        <div>Товары в корзине: </div>
        <app-cart-item 
            *ngFor="let item of items"
            [item]="item">    
        </app-cart-item>
        <hr>
        <div>Количество товаров: {{cartService.getItemsCount()}}</div>
        <div>Итого: {{cartService.getItemsAnount()}} у.е.</div>
    </div>
</mat-card>
<div *ngIf="items">
    Корзина обновлена: {{lastUpdate | date: 'medium'}}
</div>

<ng-template #cartEmpty>
    <div>Корзина пуста</div>
</ng-template>